<a ui-sref=".create" class="btn btn-primary" ng-show="signedIn() && !createState()">Create new competition</a>

<div class="container competition-page">
  <div ui-view></div>

  <div class="row">
    <h2>List of competitions</h2>
  </div>

  <div class="competition row" ng-repeat="competition in competitions">
    <div class="col-xs-1">
    </div>
    <div class="col-md-9 col-xs-11">

      <div class="info">
        {{ competition.name }}
      </div>
      <div>
        <span>created by {{ competition.creator }}</span>
        &mdash;
        <a ui-sref="competition({competitionId: competition.$id})">details</a>
        <a ng-click="deleteCompetition(competition)" ng-show="user.uid === competition.creatorUID">delete</a>
      </div>
    </div>
  </div>
</div>
